@import '../../../../assets/styles/themes.scss';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--neutral-0);
}

.logo {
  font-weight: bold;
}

.language-button {

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
