<ng-container>
  <div class="row flex-wrap align-items-center mx-auto home-container animated-element hero">
    <div class="col-md-6 d-md-flex d-block h-100 h-md-auto">
      <div class="h-100 flex-column d-flex justify-content-between">
        <h1 class="accent-font mb-1 fs-xxxl">Jonatan Ljung</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper luctus aliquam. Nam ornare ex
          non
          sem laoreet, sed rhoncus ante placerat. Aenean vel mollis nisl. Fusce tempor ipsum metus, tincidunt suscipit
          mi efficitur vel. Vivamus maximus sodales scelerisque. In porttitor accumsan tellus, sit amet finibus nisi
          feugiat sit amet.</span>
        <div class="d-flex mt-3 mb-5">
          <button class="btn btn-primary">Learn more</button>
          <button class="btn btn-secondary ms-3">Contact me</button>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-flex justify-content-center align-items-center">
      <div class="profile">
        <span>placeholder</span>
      </div>
    </div>
  </div>
  <div class="row flex-wrap align-items-center mx-auto home-container animated-element">
    <div class="col-md-6 d-md-flex flex-column d-block">
      <div class="row mb-3">
        <h1 class="accent-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
      </div>
      <div class="row mb-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper luctus aliquam. Nam ornare ex non
          sem laoreet, sed rhoncus ante placerat. Aenean vel mollis nisl.</p>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <h5 class="accent-font">Lorem ipsum</h5>
          <p>Fusce tempor ipsum metus, tincidunt suscipit
            mi efficitur vel.</p>
        </div>
        <div class="col-6">
          <h5 class="accent-font">Lorem ipsum</h5>
          <p>Fusce tempor ipsum metus, tincidunt suscipit
            mi efficitur vel.</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div class="profile">
        <img src="../../../../assets/images/sweden-flag-icon.png" alt="profile">
        <span>placeholder</span>
      </div>
    </div>
  </div>
  <div class="row flex-wrap align-items-center mx-auto home-container animated-element">
    <div class="col-md-9 d-flex justify-content-center flex-column mx-auto">
      <div class="row mb-3">
        <h1 class="accent-font text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
      </div>
    </div>
    <div class="col-md-9 d-flex justify-content-center flex-column mx-auto">
      <div class="row mb-3">
        <div class="col">
          <h5 class="accent-font">Lorem ipsum</h5>
          <p>Fusce tempor ipsum metus, tincidunt suscipit
            mi efficitur vel.</p>
          <button class="btn btn-primary">Learn more</button>
        </div>
        <div class="col">
          <h5 class="accent-font">Lorem ipsum</h5>
          <p>Fusce tempor ipsum metus, tincidunt suscipit
            mi efficitur vel.</p>
          <button class="btn btn-primary">Learn more</button>
        </div>
        <div class="col-4 d-none d-md-flex flex-column justify-content-center align-items-start">
          <h5 class="accent-font">Lorem ipsum</h5>
          <p>Fusce tempor ipsum metus, tincidunt suscipit
            mi efficitur vel.</p>
          <button class="btn btn-primary">Learn more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-wrap align-items-center mx-auto home-container animated-element">
    <div class="col-md-6 d-md-flex d-block flex-column">
      <div class="row mb-3">
        <h1 class="accent-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
      </div>
      <div class="row mb-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper luctus aliquam. Nam ornare ex non
          sem laoreet, sed rhoncus ante placerat. Aenean vel mollis nisl.</p>
      </div>
      <div class="row mb-3">
        <div>
          <button class="btn btn-primary">Contact me</button>
          <button class="btn btn-secondary ms-3">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div class="profile">
        <img src="../../../../assets/images/sweden-flag-icon.png" alt="profile">
        <span>placeholder</span>
      </div>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>
