header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: var(--neutral-0);
  z-index: 9999;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  font-weight: bold;
}

.page-links {
  list-style: none;

  li:not(li:nth-last-child(-n + 3)) {

    &:hover,
    &.active {
      transition: background-color 0.5s ease, box-shadow 0.25s ease;
      background-color: var(--neutral-100);
      box-shadow: 0px -3px 0px var(--accent-500) inset;
    }
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  svg {
    fill: var(--text-color);
  }
}

.theme-button {
  min-width: 48px;
  min-height: 50px;
}

.language-button {
  min-width: 48px;
  min-height: 50px;

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
