@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge($utilities,
    ("height": (property: height,
        class: h,
        responsive: true,
        values: (25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          auto: auto))));

$utilities: map-merge($utilities,
    ("font-size": (property: font-size,
        class: fs,
        values: (
        xxs: xx-small,
          xs: x-small,
          sm: small,
          md: medium,
          lg: large,
          xl: x-large,
          xxl: xx-large,
          xxxl: xxx-large))));

@import "bootstrap/scss/utilities/api";
