@import '../../../assets/styles/_themes.scss';

.sidebar {
  width: 4rem;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--neutral-500);
  color: var(--neutral-50);
  box-shadow: #333333 0px 0px 10px 0px;
  overflow-x: hidden;
  border-radius: 0 6px 6px 0;
  transition: width 0.5s ease-in-out;
  padding: 1rem 1rem 3rem 1.5rem;
  white-space: nowrap;

  &.hide {
    animation: shrinkSidebar 0.4s ease-in-out forwards;
  }

  &.expand {
    animation: expandSidebar 0.4s ease-in-out forwards;
  }

  .row {
    height: 5%;

    &:first-child {
      border-bottom: var(--neutral-400) 1px solid;
    }
  }
}

.sidebar-action {
  .sidebar-icon {
    font-size: x-large;
    opacity: 1 !important;
  }

  .sidebar-text {
    transition: opacity 0.2s ease-in-out;
    font-size: large;
    display: flex;
    justify-content: center;
  }

  .fadeOut {
    animation: fadeOut 0.2s ease-in-out forwards;
  }

  .fadeIn {
    animation: fadeIn 0.2s ease-in-out forwards;
  }
}

@keyframes shrinkSidebar {
  from {
    width: 15rem;
  }

  to {
    width: 4rem;
  }
}

@keyframes expandSidebar {
  from {
    width: 4rem;
  }

  to {
    width: 15rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
