@import '../../../../assets/styles/themes.scss';

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--neutral-500);
  color: var(--neutral-50);
  box-shadow: #333333 0px 0px 10px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 0 6px 6px 0;
  padding: 1rem 1rem 3rem 1.5rem;
  white-space: nowrap;
  transition: width 0.4s ease-in-out;
  font-size: large;

  &.hidden {
    width: 15rem;
    animation: 0.4s ease-in-out 0.4s forwards shrinkSidebar;
  }

  &.expanded {
    width: 4rem;
    animation: 0.4s ease-in-out forwards expandSidebar;
  }

  .row {
    height: 5%;
    margin-right: inherit;

    &:first-child {
      padding-bottom: 5rem;
      border-bottom: var(--neutral-400) 1px solid;
    }

    &:last-child {
      border-top: var(--neutral-400) 1px solid;
    }
  }

  .sidebar-header {
    h3 {
      color: var(--neutral-200);
    }

    h5 {
      color: var(--neutral-300);
    }

    &.fadeOutHeader {
      opacity: 1;
      animation: fadeOut 0.2s ease-in-out forwards;
    }

    &.fadeInHeader {
      opacity: 0;
      animation: fadeIn 0.2s ease-in-out forwards 0.4s;
    }

    &:last-child {
      top: 1rem;
    }
  }
}

.sidebar-action {
  padding: 0.5rem;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
    background-color: var(--neutral-300);
  }

  .sidebar-icon {
    font-size: x-large;
    opacity: 1 !important;

    &.fa-address-card, &.fa-language {
      position: relative;
      left: -0.25rem;
    }
  }

  .sidebar-text {
    display: flex;
    justify-content: center;
  }

  .fadeOut {
    opacity: 1;
    animation: fadeOut 0.2s ease-in-out forwards;
  }

  .fadeIn {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards 0.4s;
  }
}

@keyframes shrinkSidebar {
  from {
    width: 15rem;
  }

  to {
    width: 4rem;
  }
}

@keyframes expandSidebar {
  from {
    width: 4rem;
  }

  to {
    width: 15rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
