@import '../../../assets/styles/_themes.scss';

.main-window {
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  background-color: var(--neutral-100);
  box-shadow: #333333 0px 0px 10px 0px;
  border-radius: 6px;
}
