.app-container {
  width: 100vw;
}

.app-content {
  position: static;
  max-height: calc(100vh - 56px);
  margin-top: 56px;

  .app-inner-content {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 56px);
  }
}
