<ng-container class="animated-element">
  <div class="app-container">
    <app-header></app-header>
    <div class="app-content" [style.view-transition-group]="'app-content'" [style.view-transition-old]="'app-content'" [style.view-transition-new]="'app-content'">
      <div class="app-inner-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div>
    <!--TODO remove following at later date-->
    <p style="z-index: 99999; position: fixed; bottom: 1rem; left: 1rem; font-size: xx-large;">wip</p>
  </div>
  <!-- <app-cookie-consent></app-cookie-consent> -->
</ng-container>
