<ng-container *ngIf="showSidebar">
  <ul class="col-6 d-flex flex-column justify-content-start align-items-start p-0 sidebar animated-element"
    [@slideSidebar]>
    <li class="p-3 clickable" (click)="onSidebarToggle()"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
        viewBox="0 -960 960 960" width="24px">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
      </svg></li>
    <li class="clickable" (click)="navigateToPage('/about')" [routerLink]="'/about'" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <div class="d-flex align-items-center justify-content-between p-3">
        <div class="d-flex align-items-center justify-content-center sidebar-icon">
          <i class="bi bi-person-vcard" *ngIf="router?.url !== '/about'"></i>
          <i class="bi bi-person-vcard-fill" *ngIf="router?.url === '/about'"></i>
        </div>
        <div class="col-10">
          <a>About</a>
        </div>
      </div>
    </li>
    <li class="clickable" (click)="navigateToPage('/projects')" routerLink="/projects" routerLinkActive="active">
      <div class="d-flex align-items-center justify-content-between p-3">
        <div class="col-1 d-flex align-items-center justify-content-center">
          <!-- <i *ngIf="currentTheme === 'light'" class="bi person-vcard" [@fadeInOut]></i>
          <i *ngIf="currentTheme === 'dark'" class="bi person-vcard-fill" [@fadeInOut]></i> -->
        </div>
        <div class="col-10">
          <a>Projects</a>
        </div>
      </div>

    </li>
    <li class="clickable" (click)="navigateToPage('/contact')" routerLink="/contact" routerLinkActive="active">
      <div class="d-flex align-items-center justify-content-between p-3">
        <div class="d-flex align-items-center justify-content-center">
          <!-- <i *ngIf="currentTheme === 'light'" class="bi person-vcard" [@fadeInOut]></i>
          <i *ngIf="currentTheme === 'dark'" class="bi person-vcard-fill" [@fadeInOut]></i> -->
        </div>
        <div class="col-10">
          <a>Contact</a>
        </div>
      </div>
    </li>
    <li class="clickable" (click)="navigateToPage('/resume')" routerLink="/resume" routerLinkActive="active">
      <div class="d-flex align-items-center justify-content-between p-3">
        <div class="col-1 d-flex align-items-center justify-content-center">
          <!-- <i *ngIf="currentTheme === 'light'" class="bi person-vcard" [@fadeInOut]></i>
          <i *ngIf="currentTheme === 'dark'" class="bi person-vcard-fill" [@fadeInOut]></i> -->
        </div>
        <div class="col-10">
          <a>Resume</a>
        </div>
      </div>
    </li>
    <li>
      <div class="d-flex align-items-center justify-content-between p-3">
        <div class="d-flex align-items-center justify-content-center sidebar-icon">
          <i *ngIf="currentTheme === 'light'" class="bi bi-moon" [@fadeInOut]></i>
          <i *ngIf="currentTheme === 'dark'" class="bi bi-moon-fill" [@fadeInOut]></i>
        </div>
        <div class="col-8 d-flex align-items-center">
          <span class="ms-2 col-9">Dark Mode</span>
        </div>
        <div class="d-flex align-items-center">
          <app-slide-toggle [isChecked]="currentTheme === 'dark'" (click)="onThemeSwitchChange()"></app-slide-toggle>
        </div>
      </div>
    </li>
    <li>
      <div class="d-flex align-items-center justify-content-between p-3 language-button">
        <div class="col-1 d-flex align-items-center">
          <img *ngIf="currentLang === 'en'" src="../../../../assets/images/united-kingdom-flag-icon.png" alt="English">
          <img *ngIf="currentLang === 'se'" src="../../../../assets/images/sweden-flag-icon.png" alt="Swedish">
        </div>
        <div class="col-8 d-flex align-items-center">
          <span class="ms-2">Language</span>
        </div>
        <div class="d-flex align-items-center">
          <app-slide-toggle [isChecked]="currentLang === 'en'" (butt)="onLanguageChange()"></app-slide-toggle>
        </div>
      </div>
    </li>
  </ul>
</ng-container>
