.sidebar {
  list-style: none;

  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100svh;
  background-color: rgba(var(--neutral-0-rgb), 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  li {
    &:first-child {
      max-height: 56px;

      i {
        margin: -0.75rem;
      }
    }

    &:not(:first-child) {
      width: 100%;
      padding-left: 6px;

      &.active {
        transition: background-color 0.5s ease, box-shadow 0.25s ease;
        background-color: var(--neutral-100);
        box-shadow: 0px -3px 0px var(--accent-500) inset;
      }

      &:nth-child(5n+1) {
        position: fixed;
        bottom: 56px;
      }
    }

    &:last-child {
      position: fixed;
      bottom: 0;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    svg {
      width: 20px;
      height: 20px;
    }


  }
}

.language-button {
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.sidebar-icon {
  width: 20px;
  i {
    width: 20px;
    text-align: center;
  }
}
