<ng-container>
  <footer class="row flex-wrap align-items-center mx-auto animated-element px-3">
    <div class="row h-100 d-flex justify-content-between align-items-center mx-auto">
      <div class="col-2 d-flex flex-column justify-content-center align-items-start">
        <h1 class="accent-font fs-xxxl">jL.</h1>
      </div>
      <div class="col d-flex flex-column justify-content-center align-items-end">
        <span class="text-end mb-1">Web design and coding by Jonatan Ljung</span>
        <span>2024</span>
      </div>
    </div>
  </footer>
</ng-container>
