@import '../../../../assets/styles/themes.scss';

.home {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  background-color: transparent;
  color: var(--neutral-900);

  .profile {
    background-color: white;
    width: 75%;
    height: 0;
    padding-top: 75%;
    border-radius: 50%;

    span {
      position: relative;
      top: -40vh;
      left: 40%
    }
  }

  .home-container {
    padding: 50px 3rem 80px 3rem;

    .hero {
      background-color: transparent;
      height: 100vh;
    }

    &:nth-child(2n+3) {
      background-color: var(--neutral-200);
    }

    &:nth-child(even) {
      background-color: var(--neutral-300);
    }
  }
}
