<div class="animated-element home">
  <div class="row d-flex align-items-center">
    <div class="col-6 d-flex justify-content-center">
      <div class="d-flex flex-column">
        <h1>Jonatan Ljung</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper luctus aliquam. Nam ornare ex non
          sem laoreet, sed rhoncus ante placerat. Aenean vel mollis nisl. Fusce tempor ipsum metus, tincidunt suscipit
          mi efficitur vel. Vivamus maximus sodales scelerisque. In porttitor accumsan tellus, sit amet finibus nisi
          feugiat sit amet.</p>
        <div class="d-flex">
          <button class="btn btn-primary">Learn more</button>
          <button class="btn btn-secondary ms-3">Contact me</button>
        </div>
      </div>
    </div>
    <div class="col-6 h-100 d-flex justify-content-center">
      <div class="profile">
        <span>placeholder</span>
      </div>
      <!-- <img src="../../../../assets/images/profile.png" alt="profile"> -->
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-6 d-flex justify-content-center">
      <div class="row">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
      </div>
      <div class="row">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper luctus aliquam. Nam ornare ex non
            sem laoreet, sed rhoncus ante placerat. Aenean vel mollis nisl. Fusce tempor ipsum metus, tincidunt suscipit
            mi efficitur vel. Vivamus maximus sodales scelerisque. In porttitor accumsan tellus, sit amet finibus nisi
            feugiat sit amet.</p>
      </div>
    </div>
    <div class="col-6 h-100 d-flex justify-content-center">
      <div class="profile">
        <span>placeholder</span>
      </div>
      <!-- <img src="../../../../assets/images/profile.png" alt="profile"> -->
    </div>
  </div>

  <div class="row  d-flex align-items-center">

  </div>
  <div class="row  d-flex align-items-center">

  </div>
</div>
