:root {
  --neutral-0: #ffffff;
  --neutral-50: #f6f7f9;
  --neutral-100: #edf0f2;
  --neutral-200: #e1e5ea;
  --neutral-300: #d3dbe4;
  --neutral-400: #c3ced7;
  --neutral-500: #b0becb;
  --neutral-600: #929fb1;
  --neutral-700: #606e80;
  --neutral-800: #404b5a;
  --neutral-900: #181d25;
  --neutral-1000: #000000;

  --background-color: var(--neutral-50);
  --text-color: var(--neutral-900);
}

[data-theme="dark"] {
  --neutral-0: #000000;
  --neutral-50: #14181f;
  --neutral-100: #1f2633;
  --neutral-200: #27313f;
  --neutral-300: #2f3b4c;
  --neutral-400: #425266;
  --neutral-500: #627084;
  --neutral-600: #8a96a3;
  --neutral-700: #b6bfc9;
  --neutral-800: #d3d8df;
  --neutral-900: #edeff3;
  --neutral-1000: #ffffff;

  --background-color: var(--neutral-50);
  --text-color: var(--neutral-900);
}

[accent-theme] {
  --accent-50: #e5f2ff;
  --accent-100: #b3d4ff;
  --accent-200: #80b5ff;
  --accent-300: #4d97ff;
  --accent-400: #1a78ff;
  --accent-500: #005fe6;
  --accent-600: #0049b3;
  --accent-700: #003380;
  --accent-800: #001c4d;
  --accent-900: #00061a;
}
