@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/styles/_themes.scss';
@import './assets/styles/_buttons.scss';

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  background-image: url('./assets/images/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: var(--background-color);
  background-blend-mode: soft-light;
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;

  .accent-font {
    font-family: 'Bebas Neue', sans-serif !important;
  }
}

.animated-element {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.preload * {
  transition: none !important;
  animation-duration: 0.001s !important;
}

.clickable {
  cursor: pointer;
}

.tooltip {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  position: fixed !important;
  z-index: 10000;
  margin-left: 0.75rem !important;
  --bs-tooltip-bg: var(--neutral-600);
  --bs-tooltip-color: var(--neutral-0);
  border-radius: 6px;
}
