@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/_themes.scss';
@import './styles/_buttons.scss';
@import './styles/_utilities.scss';

html,
body {
  height: 100%;
}

html {
  body {
    margin: 0;
    padding-top: 56px;
    overflow-x: hidden;

    background-image: url('./assets/images/background.png');
    background-size: 100svw 100svh;
    -webkit-background-size: 100svw 100svh;
    -moz-background-size: 100svw 100svh;
    -o-background-size: 100svw 100svh;
    background-repeat: space;
    background-attachment: fixed;
    background-blend-mode: soft-light;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: 'Montserrat', Roboto, sans-serif;

    .accent-font {
      font-family: 'Bebas Neue', sans-serif !important;
    }
  }

  // Put this at every component that should have an animated theme
  .animated-element {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--text-color);
      fill: var(--icon-fill);

      transition: stroke 0.5s ease, fill 0.5s ease;
    }
  }

  .preload * {
    transition: none !important;
    animation-duration: 0.001s !important;
  }

  .clickable {
    cursor: pointer;
  }

  .tooltip {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    z-index: 9999;
    border-radius: 6px;
    --bs-tooltip-bg: var(--neutral-600);
    --bs-tooltip-color: var(--neutral-0);
  }
}
