@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import './assets/styles/_themes.scss';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Karla', sans-serif;

  background: url('./assets/images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.animated-element {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.preload * { 
  transition: none !important;
  animation-duration: 0.001s !important; 
}

.clickable {
  cursor: pointer;
}

.tooltip {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  position: fixed !important;
  z-index: 10000;
  margin-left: 0.75rem !important;
  --bs-tooltip-bg: var(--neutral-600);
  --bs-tooltip-color: var(--neutral-0);
}
